body {
    background-color: #414141;
    font-family: Tahoma;
    margin: 0;
}

.header {
    height: 20%;
    background-color: #FFFFFF;
}

.profile {
    width: 5%;
    position: absolute;
    left: 95%;
    -ms-transform: translateX(-95%);
    transform: translateX(-95%);
    border-style: solid;
}

.profile-button {
    width: 75px;
    height: 75px;
    
    color: #E6ADEC;
    background-color: #414141;
    border: none;
}

.title {
    background-color: transparent;
    color: #E6ADEC;
    text-align: center;
    height: 50px;
    font-size: 35px;

    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: none;
}

.text-prompt {
    color: #E6ADEC;

    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 200px;
    min-height: 40%;
    max-height: 80%;

    width: 800px;
    min-width: 70%;
    max-width: 90%;
    max-width: 80%;
}

.above-text {
    vertical-align: text-bottom;
    height: 15%;
}

.timer {
    font-size: 1.75rem;

}

.main-text {
    height: 80%;
    font-size: 25px;

    color: #FFFFFF;

    padding: none;

    overflow: scroll;
}

.prompt-input {
    width: 99%;
    height: 95%;
    resize: none; 
    background-color: transparent;
    margin: auto;
    font-size: 1.75rem;
    color: #E6ADEC;
    font-family: Tahoma;
}

.option-buttons {
    height: 20%;
}

.new-prompt {
width: 15%;
    height: 20%;
    border: none;

    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    background-color: transparent;

    color: #d7d5d5;
    font-size: 30px;
    font-weight: bold;
}    

.new-prompt:hover,
.profile-button:hover 
{
    color: #E6ADEC; 
}