body {
    background-color: #414141;
    font-family: Tahoma;
}

fieldset {
    border: none;
}

.header {
    height: 20%;
    background-color: #FFFFFF;
}

fieldset[name="title"] {
    width: 60%;

    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

fieldset[name="profile"] {
    width: 5%;
    position: absolute;
    left: 95%;
    -ms-transform: translateX(-95%);
    transform: translateX(-95%);
}

button[name="profile"] {
    width: 75px;
    height: 75px;
    
    color: #E6ADEC;
    background-color: #414141;
    border: none;
}

.title {
    color: #E6ADEC;
    text-align: center;
}

.text-prompt {
    color: #E6ADEC;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 200px;
    min-height: 40%;
    max-height: 80%;

    width: 800px;
    min-width: 70%;
    max-width: 90%;
    max-width: 80%;
}

.main-text {
    height: 80%;
    font-size: 25px;

    color: #FFFFFF;

    padding: none;

    overflow: scroll;
    border: none;
}

.prompt {
    height: 100%;
    width: 100%;

    font-size: 25px;

    color: #FFFFFF;
}

.option-buttons {
    height: 20%;

    border: none;
}

button[name="reset"] {
    background-color: #414141;
    color: #E6ADEC;
    font-size: 25px;
    width: 15%;
    height: 20%;

    border: none;

    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

button[name="reset"]:hover,
button[name="profile"]:hover 
{
    background-color: #5f5f5f; 
}